# Programming assignment 4

1.	Write a Python Program to Find the Factorial of a Number?
2.	Write a Python Program to Display the multiplication Table?
3.	Write a Python Program to Print the Fibonacci sequence?
4.	Write a Python Program to Check Armstrong Number?
5.	Write a Python Program to Find Armstrong Number in an Interval?
6.	Write a Python Program to Find the Sum of Natural Numbers?

# 1

In [2]:
def factorial(n):
    if(n==1):
        return 1;
    else:
        return n*factorial(n-1)

In [3]:
factorial(5)

120

# 2

In [4]:
def multiplicationTable(n):
    print("The multiplication table of {} is: ".format(n))
    for i in range(1, 11, 1):
        print("{n} x {i} = {prod}".format(prod = n*i, n = n, i = i))

In [5]:
multiplicationTable(10)

The multiplication table of 10 is:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# 3

In [2]:
def fibbonaci(n):

    if((n==0) or (n==1)):
        return 1
    else:
        return fibbonaci(n-1) + fibbonaci(n-2)

In [4]:
for i in range(10):
    print(fibbonaci(i), end=" ")

1 1 2 3 5 8 13 21 34 55

# 4

In [19]:
def armstrongNumber(n):
    temp = str(n)
    s = []
    for i in temp:
        s.append(int(i))

    sum_ = 0
    for i in s:
        sum_ += i**3

    if(sum_ == n):
        return True
    else:
        return False

In [20]:
armstrongNumber(370)

True

# 5

In [21]:
def printArmstrongInRange():
    a = int(input("Enter the start of the range: "))
    b = int(input("Enter the end of the range: "))

    for i in range(a,b+1,1):
        if(armstrongNumber(i)):
            print(i, end=", ")

In [22]:
printArmstrongInRange()

0, 1, 153, 370, 371, 407,

In [23]:
def sumOfNaturalNumbers(n):
    print("Sum of first {} natural number is {}".format(n, n*(n+1)/2))

In [24]:
sumOfNaturalNumbers(10)

Sum of first 10 natural number is 55.0